/corine.tif
/corine.tif.aux.xml
/elevation.tif
/elevation.tif.aux.xml
/elevation_jc.tif
/elevation_jc.tif.aux.xml
/fac_eco.tif
/fac_eco.tif.aux.xml
/fac_env.tif
/fac_env.tif.aux.xml
/fac_inf.tif
/fac_inf.tif.aux.xml
/fac_pub.tif
/grid.tif.aux.xml
/grid_pos.tif
/grid_pos.tif.aux.xml
/population.tif
/population.tif.aux.xml
/population_jc.tif
/population_jc.tif.aux.xml
/protected.tif
/protected.tif.aux.xml
/rails_pos.tif
/rails_pos.tif.aux.xml
/river.tif
/river.tif.aux.xml
/roads_pos.tif
/roads_pos.tif.aux.xml
/sea.tif
/sea.tif.aux.xml
/slope.tif
/slope.tif.aux.xml
/slope_jc.tif
/slope_jc.tif.aux.xml
*.tif
