/corine.tif
/corine.tif.aux.xml
/corine_500_gk4.tif
/elevation.tif
/elevation.tif.aux.xml
/population.tif
/population.tif.aux.xml
/population_jc.tif
/population_jc.tif.aux.xml
/river.tif
/river.tif.aux.xml
/road.tif
/slope.tif
